
@{
    Layout = null;
    string title = ViewBag.Title;
    string caption = ViewBag.Caption;

    string newRole = ViewBag.NewRole;
    string roleError = ViewBag.RoleError;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link href="~/Content/Common/css/reset.css" rel="stylesheet" />
    <link href="~/Content/Common/css/main.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="central-part central-part--column central-part--justify-center">
            <div class="header-menu">
                <a class="header-menu__item" href="/Home/Index">Главная</a>
                <a class="header-menu__item" href="/User/Index">Пользователи</a>
                <a class="header-menu__item line-height--2" href="/User/CreateUser">Создать пользователя</a>
                <a class="header-menu__item" href="/Role/Index">Роли</a>
                <a class="header-menu__item" href="/Role/CreateRole">Создать роль</a>
            </div>
        </div>
    </header>
    <main class="main">
        <form id="CreateUserForm" style="align-self:center;" method="post">
            <div class="fields h-12">
                <h2>@caption</h2>
                <div class="fields__item">
                    <div class="w-30 text-right">
                        <label class="padding-right-10" for="Login" runat="server" Text="">Роль</label>
                    </div>
                    <div class="w-70">
                        <input @((roleError != null) ? "class=error" : "") type="text" name="RoleName" placeholder="Роль" value="@((newRole != null) ? newRole : "")">
                    </div>
                </div>
                @if (roleError != null)
                {
                    <div class="text-error">@roleError</div>
                }
                <button type="submit">Создать</button>
            </div>
        </form>
    </main>
    <footer class="footer"></footer>
</body>
</html>
